h1, .jumbotron {
    font-family: 'Shrikhand', cursive;
font-family: 'Erica One', cursive;
    }

    .container {
        background: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        min-width: 90%;
        min-height: 90%;
        border-radius: 10px;
    }
    
    .jumbotron {
        background: url("../images/");
        background-repeat: no-repeat;
       background-size: cover;
       margin: auto;
       color: white;   
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        background-color: black;
        background: url("../images/Schoolhouse-Rock-Conjunction-Junction-video-2-750x513.jpg");
       background-size: cover;
       margin: auto;
       color: white;  
    }

    .panel {
        background: rgba(0, 0, 0, 0.637);
    }

    .panel-title {
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 27px;
    text-shadow: black 5px 5px 5px;
    }
    
    .btn { 
      color: #ffffff; 
      background-color: rgb(255, 135, 0); 
      border-color: #FFFFFF; 
      font-size: 20px;
      padding: 5px;
      margin-top: 10px;
      font-family: 'Shrikhand';
      text-shadow: black 1px 1px 1px;
    }


    .panel-transparent {
        background: none;
    }
    
    .panel-transparent .panel-heading{
        background: rgba(0, 0, 0, 0);
        color:white;
    }
    
    .panel-transparent .panel-body{
        background: rgba(0, 0, 0, 0.637);
    }

    .jumbotron img{
        max-width:65%;
        max-height:50%;
    }
