    .container {
        background: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        min-width: 90%;
        min-height: 90%;
        border: solid black 1px;  
        border-radius: 10px;
    }
    
    .jumbotron {
        font-family: 'Shrikhand', cursive;
        font-family: 'Erica One', cursive;
        text-align: center;
        background: rgba(0, 0, 0, 0.637);
        background-repeat: no-repeat;
        background-size: cover;
        border: solid white 1px; 
        color: white;   
        border: solid white 1px; 
        margin: 10px 0px;
        padding: 10px 0px;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        background-color: black;
        background: url("../images/Schoolhouse-Rock-Conjunction-Junction-video-2-750x513.jpg");
       background-size: cover;
       margin: auto;
       color: white;
      
    }

    .panel {
        background: rgba(156, 78, 78, 0.637);
        border-radius: 10px;
    }

    .panel-title {
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 27px;
    text-shadow: black 4px 4px 4px;
    }
    
    .btn { 
      color: #ffffff; 
      background-color: rgb(255, 135, 0, 0.9); 
      border-color: #FFFFFF; 
      font-size: 20px;
      padding: 5px;
      margin-top: 10px;
      font-family: 'Shrikhand';
      text-shadow: black 1.5px 1.5px 1.5px;
    }

    .btn:hover {
        text-shadow:  white 1.7px 1.7px 1.7px;
    }

    .panel-transparent {
        background: none;
        border: none;
    }
    
    .panel-transparent .panel-heading{
        background:  rgb(255, 135, 0, 0.9);
        color:white;
        border: solid white 2px;
        border-radius: 10px 10px 0px 0px;
    }
    
    .panel-transparent .panel-body{
        background: rgba(0, 0, 0, 0.637);
        border-radius: 0px 0px 10px 10px;
        border: solid white 2px; 
    }

    .jumbotron img{
        max-width:65%;
        max-height:50%;
    }
