h1, .jumbotron {
    font-family: 'Shrikhand', cursive;
font-family: 'Erica One', cursive;
    }

    .container {
        background: rgba(0, 0, 0, 0.479);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
    }
    
    .jumbotron {
        background: url("../images/");
        background-repeat: no-repeat;
       background-size: cover;
       margin: auto;
       color: white;   
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: black;
        background-color: black;
        background: url("../images/Schoolhouse-Rock-Conjunction-Junction-video-2-750x513.jpg");
        background-repeat:;
       background-size: cover;
       margin: auto;
       color: white;  

    }

    .panel {
        background: url("../images/black-solid.jpg");
    }

.panel-title {
    font-family: 'Shrikhand', cursive;
font-family: 'Erica One', cursive;
}

    }
    
    img {
        width: 400px;
        height: 400px;
    }
    
    .btn { 
      color: #ffffff; 
      background-color: gray; 
      border-color: #FFFFFF; 
      font-size: 20px;
      padding: 10px;
      margin-top: 10px;
    }
